{% extends 'base.html' %}

{% block layout %}"layout-fluid"{% endblock layout %}

{% block content %}
<div class="page-wrapper">
    <div class="mx-auto w-25 mt-3 datagrid">
        <div class="datagrid-item">
            <div class="datagrid-title">Full Name</div>
            <div class="datagrid-content">John Smith</div>
        </div>
        <div class="datagrid-item">
            <div class="datagrid-title">ID</div>
            <div class="datagrid-content">1</div>
        </div>
        <div class="datagrid-item">
            <div class="datagrid-title">Account Created</div>
            <div class="datagrid-content">September 1, 2026</div>
        </div>
    </div>
</div>
{% endblock content %}