@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.main-grid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(row, minmax(200px, 1fr));
    justify-content: center;
    background-color: transparent;
    margin: 2rem;
}

.navigation {
    display: flex;
    align-items: stretch;
    background-color: #0F172A;
}

.navigation ul {
    list-style-type: none;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
}

.navigation li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation a {
    display: flex;
    align-items: center;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    padding: 15px;
    font-weight: bold;
}

.navigation a:hover {
    background-color: #455273af;
    color: white;
    text-decoration: none;
}

.navigation h4 {
    display: flex;
    align-items: center;
    color: white;
    padding: 0 20px;
    margin: 0;
}

.navigation > ul.navigation-right {
    margin-left: auto;
    margin-right: 1.5rem;
}

.login-form {
    margin-top: 5ch;
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
}

/* TEXT FIELDS */

.text-input {
    font-family: "Josefin Sans", monospace;
    font-size: 1rem;
    color: black;
    background-color: transparent;
    border: none;
    padding: 0.5ch 0;
    margin-bottom: 2ch;
    width: 30ch;
    outline: none;
    transition: border-color 0.2s ease;
}

.text-input::placeholder {
    color: rgb(0, 0, 0);
}

.text-input:focus {
    border-bottom: 2px solid black;
}

.link {
    padding: none;
    font-weight: normal;
}



.link:hover {
    text-decoration-line: underline;
}

.spacer-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#comment-field {
    width: 100%;
    height: 20ch;
}

.align-left {
    display: flex;
    align-items: left;
}

.zerba-row:nth-child(even) {
  background-color: #b8ece1;
}

h1 {
    font-family: "Archivo Black", Courier, monospace;
}

h4 {
    font-family: "Archivo Black", Courier, monospace;
}

h3 {
    font-family: "Archivo Black", Courier, monospace;
    font-style: normal;
}

p {
    font-family: "Open Sans", Courier, monospace;
}


header > * {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
}

a:visited, a:link {
    text-decoration: none;
}
