{% extends "base.html" %}

{% block layout %}{% endblock layout %}

{% block navigation %}
<header class="navbar navbar-expand-sm d-print-none">
    <div class="container-xl">
        <h1 class="pe-0 pe-md-3">HAUL CO</h1>
        <div class="navbar-nav flex-row order-md-last">
            <div class="nav-item">
                <a class="nav-link d-flex lh-1 text-reset p-0">
                    <span class="avatar avatar-sm" style="background-image: url(/static/avatars/002m.jpg)"></span>
                    <div class="d-none d-xl-block ps-2">
                        <div>{{ current_user.full_name }}</div>
                        <div class="mt-1 small text-secondary">{{ current_user.employee_status.value }}</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</header>
{% endblock navigation %}



{% block content %} 
<div class="page">
    <div class="page-wrapper">
        <main class="page-body">
            <div class="container-xl">
                <div class="row row-deck row-cards">
                    
                    <div class="col-4">
                        <div class="card">
                            
                            <div class="card-header">
                                <h3 class="card-title">Team members</h3>
                                <div class="card-actions">
                                <a href="" class="btn btn-primary">
                                    <!-- Download SVG icon from http://tabler.io/icons/icon/plus -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon">
                                    <path d="M12 5l0 14" />
                                    <path d="M5 12l14 0" />
                                    </svg> Create
                                </a>
                                </div>
                            </div>

                            <!--ADMINISTRATIVE LIST-->
                            <div class="list-group card-list-group scrollable-card-list">
                                <div class="list-group-item">
                                    <div class="row align-items-center">
                                        <!--CARD CONTENT HERE-->
                                        <div class="col-auto placeholder-glow">
                                            <div class="avatar avatar-sm placeholder"></div>
                                        </div>
                                        <div class="col text-truncate">
                                            <div>{{ current_user.full_name }}</div>
                                            <div class="text-secondary text-truncate">{{ current_user.employee_status.value }}</div>
                                        </div>
                                    </div>
                                </div>
                                {% for member in employee_list %}
                                <div class="list-group-item">
                                    <div class="row align-items-center">
                                        <!--CARD CONTENT HERE-->
                                        <div class="col-auto placeholder-glow">
                                            <div class="avatar avatar-sm placeholder"></div>
                                        </div>
                                        <div class="col text-truncate">
                                            <div>{{ member.full_name }}</div>
                                            <div class="text-secondary text-truncate">{{ member.employee_status.value }}</div>
                                        </div>
                                        <div class="col-auto text-truncate">
                                            <a class="btn btn-secondary" href="">Edit</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Employees</h3>
                                <div class="card-actions">
                                <a href="" class="btn btn-primary">
                                    <!-- Download SVG icon from http://tabler.io/icons/icon/plus -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon">
                                    <path d="M12 5l0 14" />
                                    <path d="M5 12l14 0" />
                                    </svg> Create
                                </a>
                                </div>
                            </div>

                            <!--MEMBER LIST-->
                            <div class="list-group card-list-group scrollable-card-list">
                                {% for member in mems %}
                                <div class="list-group-item">
                                    <div class="row align-items-center">
                                        <!--CARD CONTENT HERE-->
                                        <div class="col-auto placeholder-glow">
                                            <div class="avatar avatar-sm placeholder"></div>
                                        </div>
                                        <div class="col text-truncate">
                                            <div>{{ member.full_name }}</div>
                                            <div class="text-secondary text-truncate">{{ member.employee_status.value }}</div>
                                        </div>
                                        <div class="col-auto text-truncate">
                                            <a class="btn btn-secondary" href="">Edit</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="card">
                            <div class="card-body" style="height: 10rem">

                            </div>
                        </div>
                    </div>
                    

                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h1 class="card-title">Ticket Submission Volume</h1>
                            </div>
                            <div class="card-body">
                                <div id="tickets-graph-card" class="position-relative" role="img" aria-label="Ticket Volume">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{{url_for('static', filename='js/charts.js')}}" defer></script>
{% endblock scripts %}