<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Haul Co</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel='stylesheet' href={{url_for('static', filename='css/bootstrap-css/bootstrap.min.css')}}>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/css/tabler.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.5.1/dist/css/tabler-vendors.min.css" />
        <link rel='stylesheet' href={{url_for('static', filename='css/styles.css')}}>

        {% block head %}{% endblock head %}
    </head>
    <body>
        <nav class='navigation'>
            <ul>
                <li><h4>HAUL CO</h4></li>
                {% if not current_user.is_authenticated %}
                    <li><a class="" href={{url_for('login')}}>Log In</a></li>
                    <li><a class="" href={{ url_for('register') }}>Register</a></li>
                {% endif %}
            </ul>
            <ul class='navigation-right'>
                {% if current_user.is_authenticated %}
                    <li><a class="" href={{url_for('logout')}}>Log Out</a></li>
                {% endif %}
            </ul>
        </nav>
        {%block content%}{% endblock content %}

        
    </body>

    {% block scripts %}{% endblock scripts %}

    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/js/tabler.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.5.1/dist/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-js/bootstrap.js') }}"></script>
</html>