{% extends "base.html" %}


{% block content %} 
    <div class='main-grid'>
        <header>
            <h1>
                HAUL CO
            </h1>
            <nav>
                <a class="navlink" href={{url_for('register')}}>Register</a>
                <a class="navlink" href="">Contact</a>
            </nav>
        </header>

        
        <div class="login-form">


            {% if form.errors %}
            <div class="alert alert-warning" role="alert">
                <ul>
                    {% for key, value in form.errors.items() %}
                        <li>{{value}}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <h4>Log In</h4>

            <form class="login-form" method='post'>
                {{ form.csrf_token() }}

                <div class="mb-3">
                    <label class="form-label">Email address</label>
                    {{ form.username(type='text', class="form-control", autocomplete='username') }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Password</label>
                    {{ form.password(type='password', class="form-control", autocomplete='password') }}
                </div>
                
                <div class="form-check mb-3">
                    {{ form.remember_me(class="form-check-input", id="checkDefault") }}
                    <label class="form-check-label" for="checkDefault">
                        Remember me?
                    </label>
                </div>
                
                {{ form.submit(class="btn btn-primary") }}

                

            </form>
        </div>

        

    </div>
{% endblock content %}