{% extends "base.html" %}


{% block content %} 
    <div class='main-grid'>
        <header>
            <h1>
                HAUL CO
            </h1>
            <nav>
                <a class="navlink" href={{url_for('login')}}>Log In</a>
                <a class="navlink" href="">Contact</a>
            </nav>
        </header>

        <div class="login-form">
            {% if form.errors %}
            <div class="alert alert-warning" role="alert">
                <ul>
                    {% for key, value in form.errors.items() %}
                        <li>{{value}}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <h4>Register</h4>

            <form class="login-form" method='post'>
                {{ form.csrf_token() }}

                <div class="mb-3">
                    <label class="form-label">Email address</label>
                    {{ form.username(type='text', class="form-control", autocomplete='username') }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Password</label>
                    {{ form.password(type='password', class="form-control", autocomplete='password') }}
                    <div id="emailHelp" class="form-text">Must be at least 8 characters in length</div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Repeat Password</label>
                    {{ form.rep_password(type='password', class="form-control", autocomplete='password') }}
                </div>
                
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>

    </div>
{% endblock content %}